
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
  <ul>
    <li><a class="companyName">Spaik</a></li>
    <li class="login" id="logInButton" onclick="document.getElementById('logInModal').style.display='block'" style="width:auto;"><a href="#login">Log In</a></li>
    <li class="signin" id="signInButton" onclick="document.getElementById('signInModal').style.display='block'" style="width:auto;"><a href="#signin">Sign In</a></li>
    </ul>
    <div class="container">
      <h1 class="title">Refine Your English Fluency</h1>
      <div id="app-cover">
        <div id="select-box">
          <input type="checkbox" id="options-view-button">
          <div id="select-button" class="brd">
            <div id="selected-value">
              <span>Select a Speaking Scenario</span>
            </div>
            <div id="chevrons">
              <i class="fas fa-chevron-up"></i>
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
          <div id="options">
            <div id="option" class="option" >
              <input class="s-c top" type="radio"  value="Daily">
              <input class="s-c bottom" type="radio"  value="Daily">
              <i class="far fa-calendar-alt"></i>
              <span class="label">Daily Life</span>
              <span class="opt-val">Daily Life</span>
            </div>
            <div id="option" class="option">
              <input class="s-c top" type="radio"  value="Business">
              <input class="s-c bottom" type="radio"  value="Business">
              <i class="fas fa-briefcase"></i>
              <span class="label">Business</span>
              <span class="opt-val">Business</span>
            </div>
            <div id="option" class="option">
              <input class="s-c top" type="radio"  value="Presentation">
              <input class="s-c bottom" type="radio"  value="Presentation">
              <i class="fas fa-users"></i>
              <span class="label">Presentation</span>
              <span class="opt-val">Presentation</span>
            </div>
            <div id="option-bg"></div>
          </div>
        </div>
      </div>
      <h2 class="subtitle"> Tap to Record</h2>
        <button id="btnToggle" class="Rec">
          <i id= "icon" class="fas fa-microphone"></i>
        </button>  
        <p id="improvedText" class ="improved"></p>
    </div>     
    <div id="signInModal" class="modal"> 
      <form class="modal-content animate" onsubmit="submitForm(event)">
        <div class="nav">
          <span onclick="document.getElementById('signInModal').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="modalContainer">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" id="usernameSignIn" class="login__input" placeholder="User name / Email">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" id="passwordSignIn" class="login__input" placeholder="Password">
          </div>
          <div id="passwordErrorSignIn" class="error-message"></div>
          <button class="submitButton" type="submit">Sign In</button>
        </div>
      </form>
    </div>
    <div id="logInModal" class="modal"> 
      <form class="modal-content animate" id="login-form"  onsubmit="submitLogInForm(event)">
        <div class="nav">
          <span onclick="document.getElementById('logInModal').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="modalContainer">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" id="username" name ="username" class="login__input" placeholder="User name / Email">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" id="password" name="password" class="login__input" placeholder="Password">
          </div>
          <div id="passwordError" class="error-message"></div>
          <button class="submitButton" type="submit">Log In</button>
        </div>
      </form>
    </div>
    <script src="/static/script.js"></script>
    <script src="/static/login.js"></script>
    <script src="/static/signin.js"></script>
</body>
</html>
